.about_collapse {
  padding: 1em 4em;
}

.about_img {
  border-radius: 10px;
  filter: brightness(0.8);
  height: 233px;
  width: 100%;
}

@media screen and (min-width: 345px) and (max-width: 767px) {
  .about_img {
    height: 111px;
  }

  .about_collapse {
    padding: 1em 0;
  }
}
