/* GENERAL */

.accommodation {
  color: #f96060;
}

/* ESTATE'S DETAILS */

.accommodation_top {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1em;
}

.accommodation_details_left {
  text-align: left;
}

.accommodation_title {
  font-weight: 500;
  font-size: 36px;
  margin: 0.5em 0em 0.5em 0em;
}

.accommodation_location {
  font-weight: 300;
  font-size: 18px;
  color: #f96060;
  margin-top: 0.5em;
}

/* HOST */

.accommodation_details_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 25%;
}

.accommodation_hostCard {
  display: flex;
  flex-direction: column-reverse;
}

.accommodation_host_details {
  display: flex;
  align-items: center;
}

.accommodation_host_picture {
  border-radius: 63px;
  width: 50%;
}

.accommodation_host_name {
  font-weight: 500;
  margin: 1em;
  font-size: larger;
}

/* .accommodation_host_rating{
  display: flex;
  align-items: center;
} */

/* .accommodation_collapse_description {
  margin-right: 2em;
}

.accommodation_collapse_equipments {
  margin-left: 2em;
} */

/* ESTATE'S SPECIFICATIONS */

.accommodation_collapse {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 40px;
}

@media screen and (min-width: 345px) and (max-width: 767px) {
  .accommodation_top {
    display: unset;
    /* flex-direction: column; */
  }

  .accommodation_title {
    font-size: 18px;
  }

  .accommodation_location {
    font-size: 14px;
  }

  .accommodation_tags {
    font-size: 10px;
  }

  .accommodation_details_right {
    display: flex;
    /* flex-direction: row-reverse; */
    width: 100%;
  }

  .accommodation_hostCard {
    flex-direction: unset;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }

  .accommodation_collapse {
    display: block;
  }
}
