.banner {
  position: relative;
  align-self: center;
  /* max-width: 1300px; */
}

.banner_img {
  border-radius: 10px;
  filter: brightness(0.8);
  height: 233px;
  width: 100%;
}
.banner_text {
  /* display: flex;
  flex-wrap: nowrap; */

  color: #fff;

  display: flex;
  /* flex-wrap: nowrap; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0;
  justify-content: center;
}

.banner_text_p1,
.banner_text_p2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 68.45px;

  /* 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0;
  text-align: center;
  display: inline-block;
  white-space: nowrap; */
  /* white-space: pre; */
}

.banner_text_p1 {
  margin-right: 0.25em;
}

@media screen and (min-width: 345px) and (max-width: 767px) {
  /* .banner {
    margin: 0em 1.5em;
  } */

  .banner_img {
    height: 111px;
  }
  .banner_text {
    display: block;
    width: unset;
    text-align: left;
    padding-left: 1em;
    white-space: pre-wrap;
  }

  .banner_text_p1,
  .banner_text_p2 {
    font-size: 24px;
    line-height: 10px;
  }
}
