footer {
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  padding: 2em;
}

.footer_span {
  padding-top: 30px;
  color: #fff;
}

@media screen and (min-width: 345px) and (max-width: 767px) {
  .footer {
    margin-top: 1em;
    background-color: yellow;
    color: red;
  }
}
