footer {
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  padding: 2em;
}

.footer_span {
  padding-top: 30px;
  color: #fff;
}
