.accommodation_host_details {
  display: flex;
  align-items: center;
  max-width: 170px;
}

.accommodation_host_name {
  color: #ff6060;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
}

.host_firstname,
.host_lastname {
  margin: unset;
}

.accommodation_host_picture {
  border-radius: 50%;
  height: 64px;
}

@media screen and (min-width: 345px) and (max-width: 767px) {
  .accommodation_host_name {
    font-size: 12px;
  }

  .accommodation_host_picture {
    height: 32px;
    width: 32px;
  }
}
